[submodule "thirdparty/influxdb-cpp"]
	path = thirdparty/influxdb-cpp
	url = https://github.com/orca-zhang/influxdb-cpp.git
[submodule "lib/lin"]
	path = lib/lin
	url = git@github.com:pathfinder-for-autonomous-navigation/lin.git
